name: ci

on:
  pull_request:
    branches:
      - main
    paths:
      - 'zammad/**'

env:
  helm-version: "v3.8.2"
  kubeconform-version: "v0.4.13"

jobs:
  super-linter:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter/slim@v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: .github/linters
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JSCPD: false
          VALIDATE_KUBERNETES_KUBEVAL: false
          VALIDATE_YAML: false

  lint-chart:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v3.3
        with:
          version: "${{ env.helm-version }}"
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0
      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml

  kubeconform-chart:
    runs-on: ubuntu-20.04
    needs:
      - lint-chart
    strategy:
      matrix:
        k8s:
          - v1.21.10
          - v1.22.7
          - v1.23.5
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v3.3
        with:
          version: "${{ env.helm-version }}"
      - name: Run kubeconform
        env:
          KUBERNETES_VERSION: ${{ matrix.k8s }}
          KUBECONFORM_VERSION: "${{ env.kubeconform-version }}"
        run: .github/kubeconform.sh

  install-chart:
    name: install-chart
    runs-on: ubuntu-20.04
    needs: 
      - kubeconform-chart
    strategy:
      matrix:
        k8s:
          - v1.21.10
          - v1.22.7
          - v1.23.5
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v3.3
        with:
          version: "${{ env.helm-version }}"
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.1
      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          config: .github/kind-config.yaml
          node_image: kindest/node:${{ matrix.k8s }}
      - name: Run chart-testing (install)
        run: ct install --config .github/ct.yaml
