name: sync-readme

permissions: read-all

on:
  push:
    branches:
      - 'main'
    paths:
      - 'README.md'

jobs:
  build:
    permissions:
      contents: write # for git push
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: copy README.md
        run: |
          cp -f README.md ${{ runner.temp }}/README.md

      - name: Checkout gh-pages
        uses: actions/checkout@v6
        with:
          ref: gh-pages

      - name: commit
        run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "Sync README from main"
          git push
